.art.one {
    .loader {
        border: 16px solid #bdc3c7;
        border-bottom-color: #1abc9c;
        border-top-color: #1abc9c;
        border-radius: 50px;
        height: 100px;
        margin: 0 auto;
        width: 100px;
    }
}




